@import 'colours';
@import 'typography';
@import 'layout';

$dark: #333;
$light: #EEE;

html,
a {
  color: $dark;
}

li {
  display: inline-block;
  list-style-type: none;
  margin-right: 1em;
}

.post img {
  display: block;
  margin: auto;;
  max-width: 95%;
  max-height: 85vh;
  margin-bottom: 1.5em;
}

.header {
  max-width: 100%;
}

.title {
  z-index: 1;
  margin: 0;
  position: relative;
  top: .25em;
  text-align: right;
  padding-right: 10%;
  overflow: wrap;
}

.headshot {
  position: relative;
  max-height: 60vh;
}

.subtitle {
  position: relative;
  display: inline;
  left: 5%;
  top: -2em;
  padding: .7em;
  margin: auto;
  background-color: darken($dark, 10%);
  color: $light;
  line-height: 2;
  white-space: pre-wrap;
  font-size: 1.5em;

  @media (min-width: 920px) {
    left: 20%;
  }
}

section {
  @each $index, $bgcolor in $pinks {
    &:nth-child(#{$index}) {
      background-color: #{rgba( $bgcolor, 0.3 )};
    }
  }
}

