@import 'colours';
@import 'typography';
@import 'layout';

$link_colour: #081471;

html,
a {
  color: $link_colour;
}

li {
  display: inline-block;
  list-style-type: none;
  margin-right: 1em;
}

img {
  display: block;
  margin: auto;;
  max-width: 95%;
  max-height: 85vh;
  margin-bottom: 1.5em;
}

.title {
  z-index: 1;
  margin: 0;
  margin-bottom: -.5em;
  text-shadow: 1px 1px #fff;
}

.headshot {
  opacity: 0.7;
  max-width: 70%;
}

.subtitle {
  font-size: 1.5em;
  position: relative;
  top: -2em;
  padding: 1em;
  background-color: map-get($pinks, 1);
  max-width: 60%;
  margin: auto;
}

section {
  @each $index, $bgcolor in $pinks {
    &:nth-child(#{$index}) {
      background-color: #{rgba( $bgcolor, 0.3 )};
    }
  }
}

