@import 'typography';

.article {
  display: flex;
  min-height: 100vh;
  background-image: url(../../static/images/leaves.jpg);
  overflow: auto;
  text-align: left;

  h1, h2, h3, h4, h5 {
    font-family: $body-font;
    // font-size: 1.5em;
    display: flex;
  }
}

.article__container {
  display: flex;
  background-color: #fff;
  margin: 3em;
  flex: 1 1 auto;
  flex-direction: column;
}

.article__content {
  padding: 2em;
  @media (max-width: 800px) {
    margin: 1em;
    padding: 1em;
  }
}

.article__title {
  font-size: 3em;
  margin-bottom: 0;
}

