$dark: #333;
$light: #EEE;

.header {
  line-height: 0;
}
.header--small {
  text-align: left;
  padding: 1em;
  background-color: #333;
}
.header__logo {
  height: 3em;
  margin-left: 1em;
}

.header__image {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
}
