.about-me {
  background-color: #FFF;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.about-me__pretty-face {
  flex: 1 1;
  width: 50%;
  align-self: center;
  padding: 0;
  margin: 0;
}

.about-me__content {
  flex: 1 1 50%;
  padding: .8em;
}
