.footer {
  background-color: #333;
  color: white;
  padding: 2em 0 1em;

  p {
    margin-top: 1.5em;
    text-align: center;
  }
}
.icon-container {
  display: flex;
  justify-content: center;

  .link {
    flex: 1 1;
    text-align: center;

    img {
      height: 2em;
      width: 2em;
    }
  }
}
