.intro {
  background-color: #FFF;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.intro__pretty-face {
  align-self: end;
  flex: 1.5 1;
  padding: 0;
  margin: 0;

  img {
    display: block;
    width: 100%;
  }
}

.intro__content {
  font-size: 1.2em;
  flex: 1 0;
  align-self: center;
  padding: 1.2em;
}

// Collapse to columns
@media (max-width: 1000px) {
  .intro {
    flex-direction: column
  }
}

