.package-intro {
  background-color: white;
}
.package-background {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em 0;
  background-image: url("../../static/images/leaves.jpg");
  background-position: center;
  background-size: cover;
}

.package-container {

}
