.package-intro {
  background-color: white;
}
.package-background {
  background-image: url("../../static/images/leaves.jpg");
  background-position: center;
  background-size: cover;
}

.package-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;

  * {
    margin: 1em;
    flex: 1 1;
  }
}
